*.swp

# Web dependencies installed by Bower
bower_components/

# Compiled Python Files
*.pyc

# Vagrant directory
.vagrant/

# Generic Virtualenv directory
venv/

# Build artifacts
dist/
build/
*.egg-info

# IDE files
.idea/

# SQLite3 db file
db.sqlite3

# Celerybeat database if you run celery beat locally
celerybeat-schedule.db

# local settings!
settings/local.py
