# To install everything needed for this site, run
# `pip install -r requirements.txt` in a terminal window.  It will read the
# dependencies from this file, and install them and their dependencies!

# Django is the base web framework used for ORM and serving views
Django==1.8.3

# dj-database-url parses the local environment variable DATABASE_URL
# serverside and builds the appropriate config object for it
dj-database-url==0.3.0

# Psycopg2 is the preferred Python <-> Postgres driver, especially for Django
psycopg2==2.6.1

# gunicorn is a WSGI server used in production
gunicorn==19.3.0

# whitenoise is a framework for serving static files in production
whitenoise==2.0.2

# Requests is a request framework for making easy web calls
requests==2.7.0

# Dates are a pain... until now!
python-dateutil==2.4.2

# django-extensions is an awesome set of tools to help development, especially shell_plus
django-extensions==1.5.5

# Celery is an asynchronous job runner that can pull from queues in the background
celery==3.1.18

# Redis is a key value store we use for our Celery queue
redis==2.10.3
