<header class="text-center">
  <h1>{{brigade.brigadeDetails.name}}</h1>
  <h2><i>{{ brigade.brigadeDetails.city }}</i></h2>
</header>
<dl id="brigade-overview" class="dl-horizontal">
  <dt id="number-of-members">Number of Members</dt><dd>{{brigade.numberOfMembers}}</dd>
  <dt id="captains">Brigade Captains</dt><dd>{{brigade.brigadeCaptains}}</dd>
  <dt ng-show="brigade.rating" id="rating">Rating</dt><dd>{{brigade.rating}}</dd>
  <dt id="topics">Topics</dt> <dd>{{brigade.topics}}</dd>
</dl>
<div id="brigade-graphs" class="row">
  <div id="projects-graph" class="col-xs-12 col-md-4"></div>
  <div id="membership-graph" class="col-xs-12 col-md-4"></div>
  <div id="events-graph" class="col-xs-12 col-md-4"></div>
</div>
<div id="brigade-projects" class="col-xs-6">
  <h2>Projects</h2>
  <p ng-show="brigade.brigadeProjectsTotal == 0">No Current Projects</p>
  <div ng-show="brigade.brigadeProjectsTotal > 0">
      <p><strong>Current projects: </strong>{{brigade.brigadeProjectsTotal}}</p>
      <ul>
          <li ng-repeat="project in brigade.brigadeProjects">
              <h4><a ng-href="#/projects/{{project.id}}">{{project.name}}</a></h4>
              <p class="project-source-code"><a ng-href="{{project.code_url}}">Source</a></p>
              <dl class="dl-horizontal">
                <dt ng-show="{{project.github_details.language}}">Main language</dt><dd>{{project.github_details.language}}</dd>
                <dt ng-show="project.github_details.description">Description</dt><dd>{{project.github_details.description}}</dd>
                <dt>Open issues</dt><dd>{{project.github_details.open_issues}}</dd>
                <dt>Contributors</dt>
                <dd>
                  <span ng-show="project.github_details.contributors" ng-repeat="person in project.github_details.contributors">
                    <!-- Show contributor without the trailing comma if last element -->
                    <a ng-hide="$last" ng-href="{{person.html_url}}">{{person.login}}, </a>
                    <a ng-show="$last" ng-href="{{person.html_url}}">{{person.login}}</a>
                  </span>
                </dd>
                <dt>Commits</dt><dd>{{project.github_details.commits}}</dd>
              <dl>
          </li>
      </ul>
  </div>
</div>
<div id="brigade-events" class="col-xs-6">
	<h2>Events</h2>
  <p ng-show="brigade.brigadeDetails.current_events.length == 0">No Upcoming Events</p>
	<ul ng-show="brigade.brigadeDetails.current_events.length > 0">
		<li ng-repeat="event in brigade.brigadeDetails.current_events">
			<h3><a ng-href="{{event.event_url}}">{{event.name}}</a></h3>
			<p><strong>Date: </strong>{{event.start_time | eventDate }}</p>
			<p ng-show="event.location"><strong>Location: </strong>{{event.location}}</p>
			<p ng-show="event.description"><strong>Description: </strong>{{event.description}}</p>
		</li>
	</ul>
</div>
