<div class="row">
  <div class="col-lg-1"></div>
  <div class="col-lg-10 text-center">
    <div class="jumbotron">
      <h2>We're a civic revolution.</h2>
      <h4 style="line-height:2em">We're using technology to make government services simple, effective and easy to use. Join more than 3,000 developers in 136 communities around the world, including yours.</h4>
      <br>
      <div><a class="btn btn-primary btn-lg" href="#/brigades" role="button">Join the revolution</a></div>
    </div>
  </div>
  <div class="col-lg-1"></div>
</div>

<div class="row">
  <div class="col-lg-1 col-md-1 col-sm-1"></div>

  <!-- <div class="panel-heading col-lg-2 col-md-2 col-sm-2 text-center">
    <h2>Top 5
      <br> Brigades
    </h2>

    <div class="panel-body" ng-repeat="name in main.brigades | limitTo:5">
      <a href="#/brigades/{{name[0]}}">
        <div style="border:solid 1px; box-shadow: 5px 5px 2px #888888;">
        <h3>{{name[0]}}</h3>
        <br>
      </div>
    </a>
    </div>
  </div> -->

  <!-- <div class="col-lg-6 col-md-6 col-sm-6 text-center"> -->
  <div class="col-lg-7 col-md-7 col-sm-7 text-center">
    <h1>Code For America Brigades
      <br>
      <br>
    </h1>
    <div id="map-canvas" style="border:solid; width: 100%; box-shadow: 10px 10px 5px #888888;">
    </div>
  </div>

  <div class="panel-heading col-lg-3 col-md-3 col-sm-3 text-center">
    <!-- <h2>Top 5
      <br> Contributors
    </h2> -->
    <h2>Top 5
      <br> Brigades
    </h2>

    <div class="panel-body" ng-repeat="name in main.brigades | limitTo:5">
      <a ng-href="#/brigades/{{name[0]}}">
        <div type="button" class="btn btn-default btn-md btn-block" style="border:solid 1px; box-shadow: 5px 5px 2px #888888;">
          <h4>{{name[0]}}</h4>
          <h5>{{name[2]}}</h5>
        </div>
      </a>
    </div>
  </div>

  <div class='col-lg-1 col-md-1 col-sm-1'></div>

</div>

<br>
<br>

<div class="footer" style="background-color: #f6f6f6; border-top:solid">
  <div class="row">
    <div class="header col-sm-4 text-center">
      <h3>Contact Us</h3>
      <br>
      <div class="contact">
        <a href="mailto:webmaster@codefornashville.org"><i class="fa fa-envelope-o"></i><span> Email</span></a>
        <br>
        <br>
      </div>
      <div class="contact">
        <a href="https://twitter.com/code4nashville"><i class="fa fa-twitter"></i><span> Twitter</span></a>
      </div>
    </div>
    <div class="header text-center col-sm-4 columns contact-box">
      <div class="header">
        <h3>Join Us</h3>
      </div>
      <br>
      <div class="contact">
        <a href="http://www.meetup.com/code-for-nashville/"><i class="fa fa-calendar"></i><span> Meetup</span></a>
      </div>
      <br>
      <div>
        <a href="/slack/"><i class="fa fa-slack"></i> Slack</a>
      </div>
    </div>
    <div class="header col-sm-4 text-center contact-box">
      <div class="header">
        <h3>Follow Us</h3>
      </div>
      <br>
      <div class="contact">
        <a href="https://www.facebook.com/groups/codefornashville/"><i class="fa fa-facebook"></i><span> Facebook</span></a>
      </div>
      <br>
      <div class="contact">
        <a href="https://github.com/code-for-nashville"><i class="fa fa-github"></i><span> Github</span></a>
      </div>
    </div>
  </div>
  <br>
  <br>
  <div class='row'>
    <div class="text-center">
      <div class="glyphicon glyphicon-envelope-large"></div>
      <a href="http://www.codefornashville.org/">
        <img style="width:150px; border:solid" src="app/assets/code-for-nash.png">
      </a>
    </div>
  </div>
  <br>
  <div class="text-center">
    <p>&copy; Code For Nashville | 2015 </p>
  </div>
</div>
