<h1>{{brigade.brigadeDetails.name}}, {{ brigade.brigadeDetails.city }}</h1>
<div class="brigade-events">
	<h2>Events</h2>
  <p ng-show="brigade.brigadeDetails.current_events.length == 0">No Upcoming Events</p>
	<ul ng-show="brigade.brigadeDetails.current_events.length > 0">
		<li ng-repeat="event in brigade.brigadeDetails.current_events">
			<h3><a ng-href="{{event.event_url}}">{{event.name}}</a></h3>
			<p><strong>Date: </strong>{{event.start_time | eventDate }}</p>
			<p ng-show="event.location"><strong>Location: </strong>{{event.location}}</p>
			<p ng-show="event.description"><strong>Description: </strong>{{event.description}}</p>
		</li>
	</ul>
</div>
<div class="brigade-projects">
<h2>Projects</h2>
<p ng-show="brigade.brigadeProjectsTotal == 0">No Current Projects</p>
<div ng-show="brigade.brigadeProjectsTotal > 0">
    <p><strong>Current projects: </strong>{{brigade.brigadeProjectsTotal}}</p>
    <ul>
        <li ng-repeat="project in brigade.brigadeProjects">
            <h3><a ng-href="#/projects/{{project.id}}"> {{project.name}}</a></h3>
            <p class="project-source-code"><a ng-href="{{project.code_url}}">Source code</a></p>
            <p ng-show="{{project.github_details.language}}"><strong>Main language: </strong>{{project.github_details.language}}</p>
            <p ng-show="project.github_details.description"><strong>Description: </strong>{{project.github_details.description}}</p>
            <p><strong>Open issues: </strong>{{project.github_details.open_issues}}</p>
            <p>
                <strong>Contributors: </strong>
                <span ng-show="project.github_details.contributors" ng-repeat="person in project.github_details.contributors"><a ng-href="{{person.html_url}}">{{person.login}}, </span>
            </p>
        </li>
    </ul>
</div>
</div>
