<div class="project-profile">
	<h1><a ng-href="{{project.projectDetails.code_url}}">{{project.projectDetails.name}}</a></h1>
	<p ng-show="project.projectDetails.organization_name"><strong>Brigade: </strong><a href="{{project.projectDetails.organization.website}}">{{project.projectDetails.organization_name}}</a></p>
	<p ng-show="project.projectDetails.status"><strong>Status: </strong>{{project.projectDetails.status}}</p>
	<p ng-show="project.projectDetails.link_url"><strong>Url: </strong><a ng-href="{{project.projectDetails.link_url}}">{{project.projectDetails.link_url}}</a></p>
	<p ng-show="project.projectDetails.last_updated"><strong>Last updated: </strong>{{project.projectDetails.last_updated | date}}</p>
	<p ng-show="project.projectDetails.description"><strong>Description: </strong>{{project.projectDetails.description}}</p>
	<div class="project-contributors row">
		<h3>Contributors</h3>
		<ul>
			<li class="col-md-2 col-xs-4" ng-repeat="contrib in project.projectDetails.github_details.contributors">
				<img ng-src="{{contrib.avatar_url}}" />
				<p><a ng-href="{{contrib.html_url}}">{{contrib.login}}</a></p>
				<p><strong>total contributions: </strong>{{contrib.contributions}}</p>
			</li>
		</ul>
	</div>
	<div class="project-issues row">
		<h3>Issues</h3>
		<p ng-show="project.projectDetails.issues.length == 0">No current issues</p>
		<ul ng-show="project.projectDetails.issues.length > 0">
			<li ng-repeat="issue in project.projectDetails.issues">
				<h4><a ng-href="{{issue.html_url}}">{{issue.title}}</a></h4>
				<p>{{issue.body}}</p>
				<div class="issue-labels">
          <span ng-repeat="label in issue.labels" class="label" ng-style="{'background-color':'#' + label.color, 'margin-left': '5px', 'margin-right': '5px', 'color': 'black'}">
						{{label.name}}
					</span> 
				</div>
			</li>
		</ul>
	</div>
</div>
