<div class="project-profile">
	<h1><a ng-href="{{project.projectDetails.code_url}}">{{project.projectDetails.name}}</a></h1>
	<p><strong>brigade: </strong><a href="{{project.projectDetails.organization.website}}">{{project.projectDetails.organization_name}}</a></p>
	<p><strong>status: </strong>{{project.projectDetails.status}}</p>
	<p><strong>url: </strong><a ng-href="{{project.link_url}}">{{project.projectDetails.link_url}}</a></p>
	<p><strong>last updated: </strong>{{project.projectDetails.last_updated}}</p>
	<p><strong>description: </strong>{{project.projectDetails.description}}</p>
	<div class="project-contributors row">
		<h3>Contributors</h3>
		<ul>
			<li class="col-md-2" ng-repeat="contrib in project.projectDetails.github_details.contributors">
				<img ng-src="{{contrib.avatar_url}}" />
				<p><a ng-href="{{contrib.html_url}}">{{contrib.login}}</a></p>
				<p><strong>total contributions: </strong>{{contrib.contributions}}</p>
			</li>
		</ul>
	</div>
	<div class="project-issues row">
		<h3>Issues</h3>
		<ul>
			<li ng-repeat="issue in project.projectDetails.issues">
				<h4><a ng-href="{{issue.html_url}}">{{issue.title}}</a></h4>
				<p>{{issue.body}}</p>
				<div class="issue-labels" ng-repeat="label in issue.labels">
          <span class="label" ng-style="{'background-color':'#' + label.color}">
						{{label.name}}
					</span> 
				</div>
			</li>
		</ul>
	</div>
</div>
